#board{
    height:100%;
    aspect-ratio: 1/1;
    background-color:rgba(0,0,0,0.1);
    box-sizing: border-box;
    border:#1A120B solid 10px;
    flex-wrap: wrap;
    display: flex;
}
#board-mobile{
    width:100dvw;
    height:60dvh;
    margin-top: 10dvh;
    background-color: rgba(0,0,0,0.1);
    box-sizing: border-box;
    border: #1A120B solid 3px;
    flex-wrap: wrap;
    display: flex;
}

.tile,.tile-mobile{
    height:12.5%;
    width:12.5%;
    box-sizing: border-box;
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.tile-mobile{
    padding:3px;
}
.tile-hovered,.tile-selected{
    box-shadow:
    0px 0px 7px #1A120B,inset 0px 0px 7px #1A120B,
    0px 0px 2px #D5CEA3,inset 0px 0px 2px #D5CEA3;
}

.tile-selected-mobile{
    box-shadow:
    0px 0px 5px #1A120B,inset 0px 0px 5px #1A120B,
    0px 0px 1px #D5CEA3,inset 0px 0px 1px #D5CEA3;
}

.pieces{
    height:calc(100% - 10px);
    width:calc(100% - 10px);
}

.piece-hovered{
    filter:drop-shadow(2px 2px 0 black)
}
