#right-pane{
    height:100dvh;
    width:calc(100dvw - 100dvh);
    background-color: #D5CEA3;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#bottom-pane{
    height:30dvh;
    display: flex;
    flex-wrap: wrap;
    width:100dvw;
    justify-content: center;
}
#chance-box,.castling-button,#check-box,#check-box-mobile{
    text-wrap: nowrap;
    width:min-content;
    height:min-content;
    padding:10px;
    border: 4px outset #3C2A21;
    background-color: #E5E5CB;
    margin:10px;
    text-align: center;
    color:#1A120B;
}
.castling-button:hover{
    box-shadow: inset 0px 0px 4px #1A120B;
}
#check-box-mobile{
    padding:10px 20px;
}