#main{
    height:100dvh;
    width:100dvw;
    display:flex;
    justify-content:space-around;
    background-color:#D5CEA3;
}
#main-mobile{
    height:100dvh;
    width:100dvw;
    display:flex;
    flex-direction: column;
    background-color: #D5CEA3;
}